input:focus {
    outline: none;
}

.total-stake-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px,
}

.total-stake-input {
    background-color: #320750;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    width: 455px;
    color: white;
    margin-left: 10px;
}

@media (max-width: 520px) {
    .total-stake-input {
        display: none;
    }
}

@media (max-width: 600px) {
    .total-stake-input {
        width: 180px !important;
    }
}

.apporve-input {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    white-space: nowrap;
    letter-spacing: 0.16px;
    background-color: #320750;
}

.withdraw-input {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    white-space: nowrap;
    letter-spacing: 0.16px;
    background-color: #320750;
}