.trapezoid {
    height: 0;
    width: 450px;
    border-top: 100px solid var(--primary);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}

.trapezoid h2 {
    margin-top: -6.5rem;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    position: relative;
}

.trapezoid h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--light);
    border-radius: 50px;
}

@media (max-width: 700px) {
    .trapezoid {
        width: 380px;
    }

    .trapezoid h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 550px) {
    .trapezoid {
        width: 320px;
    }

    .trapezoid h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 410px) {
    .trapezoid {
        width: 300px;
    }

    .trapezoid h2 {
        font-size: 1.4rem;
    }
}

/* Road Map Slider */

.roadMapSlider {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
}

.roadMapSlider .swiper-slide {
    width: 100%;
    height: 47vh !important;
}

.roadMapSlider .swiper-pagination-bullet {
    width: 50px !important;
    height: 5px !important;
    background: lightgray !important;
    border-radius: 10px !important;
    color: var(--pure) !important;
    opacity: 1 !important;
}

.roadMapSlider .swiper-pagination-bullet-active {
    width: 100px !important;
    background-color: var(--primary) !important;
}

@media (max-width: 700px) {
    .roadMapSlider .swiper-pagination-bullet {
        width: 30px !important;
    }

    .roadMapSlider .swiper-pagination-bullet-active {
        width: 60px !important;
    }
}

.image-animated1 {
    position: relative;
    animation-name: image-animated1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes image-animated1 {
    0% {
        right: 220px;
        top: 20px;
    }

    50% {
        right: 220px;
        top: 50px;
    }

    100% {
        right: 220px;
        top: 20px;
    }
}

.image-animated2 {
    position: relative;
    animation-name: image-animated2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes image-animated2 {
    0% {
        right: 550px;
        top: 90px;
    }

    50% {
        right: 550px;
        top: 130px;
    }

    100% {
        right: 550px;
        top: 90px;
    }
}

.image-animated3 {
    position: relative;
    animation-name: image-animated3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes image-animated3 {
    0% {
        right: 470px;
        top: 510px;
    }

    50% {
        right: 470px;
        top: 540px;
    }

    100% {
        right: 470px;
        top: 510px;
    }
}


@media (max-width: 1200px) {

    .image-animated1,
    .image-animated2,
    .image-animated3 {
        display: none;
    }

    .main-image {
        width: 350px;
        height: 100%;
    }
}

@media (max-width: 1040px) {

    .main-image {
        width: 500px;
        height: 200px;
    }
}


@media (max-width: 500px) {

    .main-image {
        width: 400px;
    }
}