.communityBtn:hover>div {
    border-color: var(--primary);
}

.big-under {
    position: relative;
    animation-name: big-under;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes big-under {
    0% {
        right: 110px;
        bottom: 0;
    }

    50% {
        right: 110px;
        bottom: 20px;
    }

    100% {
        right: 110px;
        bottom: 0;
    }
}

.small-after {
    position: relative;
    animation-name: small-after;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes small-after {
    0% {
        left: 150px;
        bottom: 0;
    }

    50% {
        left: 150px;
        bottom: 20px;
    }

    100% {
        left: 150px;
        bottom: 0;
    }
}

@media (max-width: 1224px) {

    .robot-main,
    .big-under,
    .small-after {
        display: none;
    }
}



@media (max-width: 750px) {

    .home-footer-main {
        padding: 15px;
    }
}