@media (max-width: 450px) {

    .top-collection-wrapper,
    .top-collection-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 700px) {

    .top-collection-wrapper,
    .top-collection-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {

    .top-collection-wrapper,
    .top-collection-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }
}